*{
  text-align: left;
}

h1{
  color: blue;
  border: 10px dotted red;
  text-align: center;
}

body{
    background-color: pink;
    border: 2px solid blue;
}

a{
  padding-left: 25px;
}

h2{
  color: white;
  text-decoration: underline yellow;


}
p{
  padding-left: 25px;
  font-style: italic;
}
ol{
  
  padding-left: 40px;
  font-style: italic;
}
